extends layout

include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1#productList_title= title
  .productList_Outermost_Container
    +productList(productsToday, 'Today')
    +productList(productsYesterday, 'Yesterday')
    +productList(productsLastWeek, 'Last Week')
    +productList(productsLastMonth, 'Last Month')
