extends layout


block content
    div(class="authCtn")
      h1(class="head")=title
      if errors
        each error in errors
          ul
            li.errors=error
      form(id="signup" action="/users/signup",method="post")
        div(class="space")
          input(type="text",name="firstName",required, placeholder="First Name", class="authInp")
        div(class="space")
          input(type="text",name="lastName",required, placeholder="Last Name", class="authInp")
        div(class="space")
          input(type="email",name="email",required, placeholder="Email", class="authInp")
        div(class="space")
          input(type="password",name='password',required, placeholder="Password", class="authInp", class="authInp")
        div(class="space")
          input(type="password",name='confirmPassword',required, placeholder="Confirm Password", class="authInp")
          input(type="hidden",name="_csrf",value=csrfToken)
        div(class="space")
          button(type="submit" class="authBtn") Sign Up
