nav {
    background-color: #0e0e0e;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-bottom: 3px solid black;
}

nav ul {
    width: 1100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    font-size: 1.75em;
}

nav input {
    background-color: lightgray;
    font-size: 1.2em;
    padding: 5px;

    height: 2rem;
    border-radius: 10px;
    width: 20rem;
}

nav input:hover {
    font-size: 1.25em;
}

nav p {
    color: #ce3aa1
}

.logo {
    font-size: 3em;
    color: #ce3aa1;
}

.logo:hover {
    font-size: 3.5em;
}

.logoutBtn {
    color: black;
    background-color: #ce3aa1;
    border: none;
    height: 1.7rem;
    width: 6rem;
    border-radius: 10px;
    font-size: large;
}

.logoutBtn:hover {
    font-size: 1.25em;
    height: 1.5em;
    width: 5em;
}
/*
#navbar_search{
  width: max-content;
} */

#navbar_logo {
  width: 80px;
}
#navbar_login {
  width: 65px;
}

#navbar_logout {
  display: flex;
  justify-content: flex-end;
  width: 110px;
}

#navbar_signup {
  display: flex;
  justify-content: flex-end;
  width: 110px;
}

#navbar_welcome {
  display: flex;
  justify-content: center;
  width: 350px;
}
