body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    color: lightgrey;
    /* display: flex; */
    /* align-content: center; */
}

main {
    margin-top: 80px;
    padding: 30px
}

a {
    color: #ce3aa1;
    margin: 50px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
    font-size: 1rem;
    /* color: inherit; */
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

#signup {
    display: flex;
    max-width: 25rem;
    flex-direction: column;
    align-items: center;
    background-color:  #0e0e0e;
    border-radius: 25px;
    padding: 1.5rem;
    margin: 1.5rem auto;
}

.space {
    margin: 0.5em;
}

.authInp {
    height: 2rem;
    border-radius: 10px;
    width: 20rem;
    padding: 0.7rem;
    font-size: 1.2rem;
}

.authBtn {
    color: black;
    background-color: #ce3aa1;
    border: none;
    height: 1.7rem;
    width: 6rem;
    border-radius: 10px;
    font-size: large;
}

.authBtn:hover {
    color: #ce3aa1;
    background-color: black;
}

.authCtn {
    text-align: center;
}

.head {
    /* margin-top: 1em; */
    color: #ce3aa1
}

.errors {
    list-style-type: none;
}

* {
    font-family: 'Rubik';
}

#guest_login {
    height: auto;
}

.login_buttons_div {
    padding-top: 5px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/rubik/Rubik[wght].ttf');
    /* src: url('Fonts/SansationLight/SansationLight.eot?#iefix') format('embedded-opentype'),
         url('Fonts/SansationLight/SansationLight.woff') format('woff'),
         url('Fonts/SansationLight/SansationLight.ttf') format('truetype'),
         url('Fonts/SansationLight/SansationLight.svg#SansationLight') format('svg'); */
    font-weight: normal;
    font-style: normal;
}
