body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: rgb(255, 224, 224);
  /* display: flex; */
  /* align-content: center; */
} 

nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: #ce3aa1;
  margin: 50px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  /* color: inherit; */
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

img {
  height: 60px;
  width: 75px;
  margin-bottom: 1.4rem;
}

#signup {
  display: flex;
  max-width: 25rem;
  flex-direction:column;
  align-items: center;
  background-color: rgb(77, 77, 77);
  border-radius: 25px;
  padding: 1.5rem;
  margin:1.5rem auto;
  
}

.space {
  margin: 0.5em;
}

.authInp {
  height: 2rem;
  border-radius: 10px;
  width: 20rem;
  padding-left: .4rem;
  font-size: large;
}

.authBtn {
  color: black;
  background-color: #ce3aa1;
  border: none;
  height: 1.7rem;
  width: 6rem;
  border-radius: 10px;
  font-size: large;
  
}
.authBtn:hover {
  color: #ce3aa1;
  background-color: black;
}

.authCtn {
  text-align: center;
}

.head {
  /* margin-top: 1em; */
  color:#ce3aa1
}